@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale-filter {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.grayscale-filter:hover {
  filter: grayscale(0%);
}

.clip-bg{
  clip-path: polygon(50% 0%, 100% 0, 100% 57%, 50% 100%, 0 54%, 0 0);
}